<?xml version="1.0"?>
<launch>
    <!--<rosparam command="load" file="$(find cable_observer)/config/params.yaml" />-->
    <group ns="put">
        <arg name="frame_id" default="depth_optical_frame" />
        <arg name="visualize" default="false" />
        <arg name="rvizconfig" default="$(find cable_observer)/config/dlo_3d.rviz" />

        <param name="frame_id" type="string" value="$(arg frame_id)"/>
        <param name="visualize" type="bool" value="$(arg visualize)"/>

        <node name="cable_observer" pkg="cable_observer" type="cable_observer_node.py" output="screen"/>

        <node pkg="tf" type="static_transform_publisher" name="link_broadcaster" args="0 0 0 0 0 0 1 map $(arg frame_id) 100" />

        <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" required="true" />
    </group>
</launch>
