<?xml version="1.0"?>
<launch>
    <!--<rosparam command="load" file="$(find cable_observer)/config/params.yaml" />-->

    <arg name="rvizconfig" default="$(find cable_observer)/config/dlo_3d.rviz" />

    <node name="cable_observer" pkg="cable_observer" type="cable_observer_node.py" output="screen" />

    <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" />

    <node pkg="tf" type="static_transform_publisher" name="link_broadcaster" args="0 0 0 0 0 0 1 map depth_optical_frame 100" />

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>